.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 5px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
  opacity: 0.6;
}

.profile__edit-btn {
  margin-top: auto;
  border-style: none;
  opacity: 0.6;
  background-color: #fcf5e5;
}

.profile__edit-btn img {
  margin-right: 20px;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: black;
  color: #fff;
  height: 52px;
  width: 142px;
  border-radius: 8px;
  justify-content: flex-end;
}

.profile__add-btn img {
  margin-right: 20px;
}
