.modal {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: white;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container-popup {
  max-width: 630px;
}

.modal__image-container {
  background-color: transparent;
  padding: 0px;
  position: relative;
}

.modal__container_type_preview {
  padding: 16px;
  background-color: transparent;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__button {
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  width: 100%;
  max-width: 156px;
  padding: 18px 0;
  background: #212121;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
}

.modal__close-btn {
  height: 40px;
  width: 40px;

  border: none;
  position: absolute;
  top: 32px;
  right: 50px;

  background: transparent url(../images/close-btn.svg) center no-repeat;
  background-size: 35px 35px;

  padding: 0;
  margin: 0;
  cursor: pointer;

  opacity: 0.4;
}
.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-light.svg);
  top: -12px;
  right: -36px;
  opacity: 1;
}

.modal__caption {
  background-color: #212121;
  margin: 0 0 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 8px;
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 4px 8px;
  margin-top: 8px;
  position: relative;
  justify-self: left;
  max-width: max-content;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__title-delete {
  font-size: 24px;
  line-height: 24px;
}

.modal__delete-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #212121b2;
  opacity: 0.7;
}

.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-bottom: 0;
}

.modal__input::active {
  border-color: rgba(0, 0, 0, 0.4);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  color: #ff0000;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
  cursor: none;
}

.modal__delete-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  border: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  background-color: #ff6565;
}

.modal__delete-btn:hover {
  background-color: #ff3333;
  transition: background-color 0.5s;
  cursor: pointer;
}

.modal__cancel-btn {
  width: 156px;
  height: 52px;
  font-size: 16px;
  line-height: 16px;
  background-color: #fff;
  gap: 8px;
  color: black;
  padding: 18px 32px 18px 32px;
  border-radius: 8px;
  border: 1px solid black;
}

.modal__cancel-btn:hover {
  background-color: #212121;
  color: #fff;
  transition: background-color 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__close-btn_type_preview {
    top: -40px;
    right: 10px;
  }
  .modal__caption {
    left: 0;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    max-width: 100%;
  }
  .modal__image {
    width: 100%;
    max-width: 288px;
    border-radius: 4px;
    margin: 0;
  }
  .modal__delete-button {
    width: 156px;
  }

  .modal__title-delete {
    text-align: center;
  }

  .modal__form_type_delete {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }
}
